@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: 3rem;
    width: 75%;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: v.$negro;
        font-weight: 400;
        display: block;
        margin-bottom: calc(v.$separacion / 2);
        text-align: center;
    }
}

.mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    span{
        font-weight: bold;
    }

    .acciones {
        margin: 0 5rem;
        width: 80%;
    }
}

