@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: calc(v.$separacion / 4);
    width: 100%;
    color: v.$blanco;
    font-weight: 600;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    

    &.error{
        background-color: v.$rojo;
        border-left: darken(v.$rojo, 20%) 4px solid;
    }

    &.exito{
        background-color: v.$verde;
        border-left: darken(v.$verde, 20%) 4px solid;
    }
}